#include <stdio.h>

int main(){

int abc;

printf("abc: ");
scanf("%d",&abc);
int cba=0,temp=abc;
for (int i = 0; i < 3; i++)
{   
    cba+=temp%10;  
    if(i==2)break; else cba*=10; 
    temp /= 10;
   
}
printf("abc: %d & cba: %d\n",abc,cba);
if(cba>abc)printf("koşul 1 sağlandı."); else printf("koşul 1 sağlanamadı.");

    return 0;
}
